---
import ArrowContainer from "@/components/ArrowContainer.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "astro:assets";
---

<SectionContainer reverse split className="text-white">
	<section class="w-full md:w-1/2 text-justify space-y-4">
		<ArrowContainer
			text="Capacitación y actualización en materia aduanera y de comercio exterior."
			icon="TrainingIndividualIcon"
		/>
		<div>
			Imparto cursos de capacitación que te permiten mantenerte actualizado y
			adquirir conocimientos clave en materia aduanera y de comercio exterior.
		</div>
		<div>
			Los cursos están diseñados para agregar valor a tus operaciones y ayudarte
			a manejar cualquier situación compleja que surja en el entorno aduanero.
		</div>
		<div class="bg-gray-900 p-2 text-center">
			<a
				href="https://wa.me/5212294639014"
				target="_blank"
				class="block p-4 md:p-5 rounded hover:bg-gray-800 transition"
			>
				¿Te interesa capacitarte? Conoce más sobre nuestros cursos
			</a>
		</div>
	</section>
	<section class="w-full md:w-1/2 mt-6 md:mt-0 md:ml-6">
		<Image src="/Consultancy.webp" alt="consultoria" height={500} width={500} />
	</section>
</SectionContainer>
