---
import { Image } from "astro:assets";
---

<div class="w-full overflow-hidden">
	<Image
		src="/Header.webp"
		alt="Header image"
		width={1080}
		height={1920}
		class="w-full h-auto object-cover object-center"
	/>
</div>
