---
import ProfileTitle from "@/components/ProfileTitle.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialMediaIcon from "@/components/SocialMediaIcon.astro";
import { Image } from "astro:assets";
---

<SectionContainer split>
	<section class="w-full md:w-1/2 flex justify-center">
		<Image src="/Outro.webp" alt="outro" height={500} width={500} />
	</section>
	<section class="w-full md:w-1/2 space-y-5 text-white">
		<ProfileTitle />
		<p class="text-sm sm:text-base md:text-xl text-justify">
			Mi trayectoria incluye haber formado parte de la Administración Local
			Jurídica de Veracruz, así como Abogado de Aduanas Marítimas del Servicio
			de Administración Tributaria, además de desempeñarme en el sector privado
			como asesor jurídico de agentes aduanales, empresas y particulares,
			proporcionando soluciones prácticas y legales adaptadas a las necesidades
			de mis clientes.
		</p>

		<p class="text-sm sm:text-base md:text-xl text-justify">
			Si deseas más información o necesitas apoyo en un caso específico, estoy
			para ayudarte. Escríbeme y platicamos sobre cómo puedo contribuir a
			solucionar tus necesidades.
		</p>
		<div class="flex flex-col sm:flex-row gap-4 justify-between">
			<SocialMediaIcon
				iconName="fa6-solid:mobile-screen-button"
				text="229-463-9014"
			/>
			<SocialMediaIcon
				iconName="fa6-solid:envelope"
				text="juridico.aduanero.ags@gmail.com"
				isBold
			/>
		</div>
		<div
			class="flex flex-wrap justify-center sm:justify-between gap-4 pt-2 pb-5"
		>
			<SocialMediaIcon
				iconName="fa6-brands:whatsapp"
				link="https://wa.me/5212294639014"
			/>
			<SocialMediaIcon
				iconName="fa6-brands:facebook"
				link="https://www.facebook.com/ic.aduanal.5"
			/>
			<SocialMediaIcon
				iconName="fa6-brands:tiktok"
				link="https://www.tiktok.com/@juridicoaduaneroags"
			/>
			<SocialMediaIcon
				iconName="fa6-brands:instagram"
				link="https://www.instagram.com/juridicoags"
			/>
			<SocialMediaIcon
				iconName="fa6-brands:linkedin"
				link="https://www.linkedin.com/in/andr%C3%A9s-aguilar-s%C3%A1nchez-a78967273"
			/>
		</div>
	</section>
</SectionContainer>
