---
// SectionContainer.astro
interface Props {
	split?: boolean;
	centered?: boolean;
	reverse?: boolean;
	className?: string;
}

const {
	split = false,
	centered = false,
	reverse = false,
	className,
} = Astro.props;
---

<section
	class:list={[
		"w-full px-4 md:px-8 mt-10",
		split ? "flex flex-col md:flex-row gap-8" : "flex flex-col gap-6",
		split && reverse && "md:flex-row-reverse",
		centered && "items-center text-center",
		className,
	]}
>
	<slot />
</section>
